@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  background: none transparent !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

*::-webkit-scrollbar-corner,
*::-webkit-resizer {
  background-color: transparent;
}

body {
  font-family: "Poppins";
}

textarea,
input {
  font-family: "Poppins";
  outline: none !important;
}

.loading {
  animation: rotate 2s linear infinite;
  margin: 0 5px 0 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.netIcon {
  position: absolute;
  left: 21px;
  top: 21px;
}
